APScheduler==3.6.3
async-timeout==4.0.2
beautifulsoup4==4.11.1
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
configparser==5.2.0
Deprecated==1.2.13
idna==3.3
liquipediapy==2.1.0
lxml==4.8.0
packaging==21.3
pyparsing==3.0.8
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
redis==4.2.2
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
telegram==0.0.1
tornado==6.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
wrapt==1.14.0
